body {
	display: flex;
	min-height: 90vh;
	background-color: aqua;

	flex-direction: column;

	transition: 1s;
	color: white;
	justify-content: center;
	align-items: center;
	-webkit-transition: 0.5s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
}

.btn {
	display: flex;
	padding: 10px;
	background: transparent;
	border: 2px solid white;
	color: white;
	cursor: pointer;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bolder;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.btn:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}

.btn:active {
	padding: 5px;
	transition: 0.5s;
}
